.nav{
    background-color: yellowgreen;
    position: relative;
}
.nav-elem{
    color:white;
    position: absolute;
    text-decoration: none;
    left: 15rem;
    top: 3.2rem;
    font-size: large;
}
.abt-link{
    font-size: large;
    left: 20rem;
}

.cnt-link{
    font-size: large;
    left: 26rem;
}
.plc-link{
    font-size: large;
    left: 33rem;
}
.prc-link{
    left: 38rem;
}
.stf-link{
    font-size: large;
    left: 43rem;
}
.about{
    font-size: xx-large;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
}
.txt{
    font-size: large;
}
.whyus{
    font-size: x-large;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
}
.bodyimage{
    background-image: url("Background Image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.details{
    font-size: x-large;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
}
.bodyimage1{
    background-color: burlywood;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.image{
    float: right;
}
.footer{
    background-color: yellowgreen;
    position: relative;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .footertxt{
    font-size: large;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
  }
  .videos{
    border-radius: 10%;
  }
  .card{
    position: absolute;
    top: 5rem;
    left:5rem;

    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-imagegi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("Greece.jpg");
    background-size: cover;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-imagesi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("spain.jpg");
    background-size: cover;
  }
  .gs{
    background: lightskyblue;
  }
  .ss{
    background: brown;
  }
  .card-imageii {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("italy.jpg");
    background-size: cover;
  }
  .is{
    background: cadetblue;
  }
  .one{
    position: absolute;
    top: 12rem;
    left:6rem;
  }
  .two{
    position: absolute;
    top: 12rem;
    left: 435px;
  }
  .three{
    position: absolute;
    top: 12rem;
    left: 775px;
  }
  .four{
    position: absolute;
    top: 800px;
    left: 6rem;
  }
  .five{
    position: absolute;
    top: 800px;
    left: 435px;
  }
  .six{
    position: absolute;
    top: 800px;
    left: 775px;
  }
  .card-imageci {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("Caribbean Islands.jpg");
    background-size: cover;
  }
  .cs{
    background: orange;
  }
  .card-imagemi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("maldives.jpg");
    background-size: cover;
  }
  .ms{
    background-color: aqua;
  }
  .card-imagepi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("paris.jpg");
    background-size: cover;
  }
  .ps{
    background-color: green;
  }
  .seven{
      position: absolute;
      top: 1500px;
      left: 6rem;
  }
  .eight{
      position: absolute;
      top: 1500px;
      left: 435px;
  }
  .nine{
      position: absolute;
      top: 1500px;
      left: 775px;
    }
  .abt1{
    font-size: xx-large;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
    position: absolute;
    top: 1400px;
    left: 1rem;
  }
  .ten{
    position: absolute;
    top: 2100px;
    left: 6rem;
  }
  .eleven{
    position: absolute;
    top: 2100px;
    left: 435px;
  }
  .twelve{
    position: absolute;
    top: 2100px;
    left: 775px;
  }
  .footer1{
      background-color: yellowgreen;
      inline-size: 1250px;
      position: absolute;
      top: 2700px;
  }
  .card-imagehi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("Hyderabad.jpg");
    background-size: cover;
  }
  .card-imagegoi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("goa.jpg");
    background-size: cover;
  }
  .card-imagedi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("New Delhi.jpg");
    background-size: cover;
  }
  .card-imageoi {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("Ooty.jpg");
    background-size: cover;
  }
  .card-imagemui {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("mumbai.jpg");
    background-size: cover;
  }
  .card-imageki {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("kerala.jpg");
    background-size: cover;
  }
  .hs{
    background-color: purple;
  }
  .gos{
    background-color: limegreen;
  }
  .ks{
    background-color: palevioletred;
  }
  .backgd{
      background-image: url("backgroundimage copy.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }